<html>
<h1>HTC Hero</h1>
<p>So far, no one has requested kernel source for the HTC Hero.</p>
<p>If you own the phone, now's a good time to ask the vendor for the source code to your Linux binary that the phone boots.</p>
<div style="margin: 2em; border: 1px dashed; width: 400px;">
<form>
<h3>Make a source code request</h3>
<table>
<tr><td>Your name:</td><td><input type="text" width="30"></td></tr>
<tr><td>Your email:</td><td><input type="text" width="30"></td></tr>
<tr><td>Email address at HTC (go do some tactical Googling):</td><td><input type="text" width="30"></td></tr>
</table>
<input type="submit" value="Submit">
</div>
<p>Once you click Submit, we'll send you a form letter and a confirmation link.
If you like the form letter, click the confirmation link and we'll send the letter to HTC.</p>
</html>
